<div class="first-screen">
    <div class="container">
        <div class="title">Виберіть категорію</div>
        <div class="columns">
            <div class="columns-item">
                <div class="columns-item-img">
                    <svg class="" width="92" height="95">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#notebook"></use>
                    </svg>
                </div>
                <p>
                    Автотранспорт
                </p>
            </div>
            <div class="columns-item">
                <div class="columns-item-img">
                    <svg class="" width="92" height="95">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#notebook"></use>
                    </svg>
                </div>
                <p>
                    Будівництво, архітектура,
                    землекористування
                </p>
            </div>
            <div class="columns-item">
                <div class="columns-item-img">
                    <svg class="" width="92" height="95">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#notebook"></use>
                    </svg>
                </div>
                <p>
                    Громадянство
                </p>
            </div>
            <div class="columns-item">
                <div class="columns-item-img">
                    <svg class="" width="92" height="95">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#notebook"></use>
                    </svg>
                </div>
                <p>
                    Захист прав дитини
                </p>
            </div>
            <div class="columns-item">
                <div class="columns-item-img">
                    <svg class="" width="92" height="95">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#notebook"></use>
                    </svg>
                </div>
                <p>
                    Реєстрація місця
                    проживання/перебування
                </p>
            </div>
            <div class="columns-item">
                <div class="columns-item-img">
                    <svg class="" width="92" height="95">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#notebook"></use>
                    </svg>
                </div>
                <p>
                    Підприємницька
                    діяльність
                </p>
            </div>
            <div class="columns-item">
                <div class="columns-item-img">
                    <svg class="" width="92" height="95">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#notebook"></use>
                    </svg>
                </div>
                <p>
                    Санітарне та епідемічне
                    благополуччя,
                    ветеринарна медицина
                </p>
            </div>
            <div class="columns-item">
                <div class="columns-item-img">
                    <svg class="" width="92" height="95">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#notebook"></use>
                    </svg>
                </div>
                <p>
                    Комунальне
                    господарство
                </p>
            </div>
        </div>
    </div>

</div>